* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v230_2 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v569_69 {
  width: 451px;
  height: 752px;
  background: url("../images/v569_69.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 32px;
  overflow: hidden;
}
.v531_172 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 744px;
  left: 74px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v531_173 {
  width: 194px;
  color: rgba(253,253,253,1);
  position: absolute;
  top: 760px;
  left: 100px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v231_13 {
  width: 390px;
  height: 354px;
  background: rgba(72,74,129,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  border: 1px solid rgba(27,189,221,1);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v569_71 {
  width: 199px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 136px;
  left: 119px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v569_72 {
  width: 410px;
  height: 130px;
  background: url("../images/v569_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 12px;
  overflow: hidden;
}
.v322_10 {
  width: 274px;
  height: 32px;
  background: rgba(133,220,225,1);
  opacity: 1;
  position: absolute;
  top: 366px;
  left: 59px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v322_13 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 372px;
  left: 124px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v531_159 {
  width: 274px;
  height: 32px;
  background: rgba(133,220,225,1);
  opacity: 1;
  position: absolute;
  top: 417px;
  left: 58px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v531_160 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 425px;
  left: 105px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v531_162 {
  width: 274px;
  height: 32px;
  background: rgba(133,220,225,1);
  opacity: 1;
  position: absolute;
  top: 468px;
  left: 58px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v531_163 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 475px;
  left: 97px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v531_165 {
  width: 274px;
  height: 32px;
  background: rgba(133,220,225,1);
  opacity: 1;
  position: absolute;
  top: 519px;
  left: 58px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v531_166 {
  width: 244px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 526px;
  left: 91px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v531_168 {
  width: 274px;
  height: 32px;
  background: rgba(133,220,225,1);
  opacity: 1;
  position: absolute;
  top: 568px;
  left: 58px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v531_169 {
  width: 271px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 575px;
  left: 74px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v533_214 {
  width: 274px;
  height: 32px;
  background: rgba(133,220,225,1);
  opacity: 1;
  position: absolute;
  top: 613px;
  left: 58px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v533_215 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 620px;
  left: 139px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v231_21 {
  width: 77px;
  height: 37px;
  background: url("../images/v231_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 285px;
  overflow: hidden;
}
.v325_176 {
  width: 307px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 314px;
  left: 43px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
