* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v531_176 {
  width: 390px;
  height: 844px;
  background: rgba(182,182,182,0.7699999809265137);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v569_89 {
  width: 451px;
  height: 752px;
  background: url("../images/v569_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 32px;
  overflow: hidden;
}
.v531_184 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 74px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v531_185 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 572px;
  left: 138px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v531_186 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 572px;
  left: 138px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v531_187 {
  width: 77px;
  height: 37px;
  background: url("../images/v531_187.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 285px;
  overflow: hidden;
}
.v531_191 {
  width: 324px;
  height: 241px;
  background: url("../images/v531_191.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 33px;
  overflow: hidden;
}
.v531_192 {
  width: 390px;
  height: 354px;
  background: rgba(72,74,129,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  border: 1px solid rgba(27,189,221,1);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v569_91 {
  width: 199px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 136px;
  left: 119px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v569_92 {
  width: 410px;
  height: 130px;
  background: url("../images/v569_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 12px;
  overflow: hidden;
}
.v531_195 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 556px;
  left: 74px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v531_197 {
  width: 184px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 572px;
  left: 104px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v531_198 {
  width: 77px;
  height: 37px;
  background: url("../images/v531_198.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 285px;
  overflow: hidden;
}
.v531_199 {
  width: 260px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 324px;
  left: 65px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 24px;
  opacity: 1;
  text-align: center;
}
.v531_200 {
  width: 95px;
  height: 86px;
  background: url("../images/v531_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 408px;
  left: 144px;
  overflow: hidden;
}
.v532_203 {
  width: 154px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 641px;
  left: 118px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v532_204 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 630px;
  left: 74px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v532_205 {
  width: 194px;
  color: rgba(253,253,253,1);
  position: absolute;
  top: 647px;
  left: 100px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
