* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v259_5 {
  width: 393px;
  height: 844px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v569_94 {
  width: 451px;
  height: 752px;
  background: url("../images/v569_94.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 20px;
  overflow: hidden;
}
.v259_7 {
  width: 390px;
  height: 354px;
  background: rgba(72,74,129,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 2px;
  border: 1px solid rgba(27,189,221,1);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v569_98 {
  width: 199px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 136px;
  left: 119px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v569_99 {
  width: 410px;
  height: 130px;
  background: url("../images/v569_99.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 12px;
  overflow: hidden;
}
.v259_8 {
  width: 260px;
  height: 506px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 207px;
  left: 77px;
  border: 1px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}
.v261_13 {
  width: 244px;
  height: 233px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 87px;
  overflow: hidden;
}
.v261_8 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 637px;
  left: 240px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 12px;
  opacity: 1;
  text-align: center;
}
.v259_12 {
  width: 198px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 216px;
  left: 87px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v259_13 {
  width: 117px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 248px;
  left: 90px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v259_14 {
  width: 23px;
  height: 28px;
  background: url("../images/v259_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 216px;
  left: 261px;
  overflow: hidden;
}
.v260_2 {
  width: 23px;
  height: 28px;
  background: url("../images/v260_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 244px;
  left: 223px;
  overflow: hidden;
}
.v259_40 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 77px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v322_20 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 745px;
  left: 172px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v260_11 {
  width: 134px;
  height: 127px;
  background: url("../images/v260_11.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 421px;
  left: 195px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v260_13 {
  width: 134px;
  height: 127px;
  background: url("../images/v260_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 566px;
  left: 90px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.v260_15 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 236px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v261_2 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 301px;
  left: 236px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v261_10 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 585px;
  left: 232px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v261_4 {
  width: 98px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 439px;
  left: 94px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v260_18 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 331px;
  left: 249px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v261_6 {
  width: 81px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 471px;
  left: 107px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
