* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v309_4 {
  width: 390px;
  height: 844px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v569_121 {
  width: 451px;
  height: 752px;
  background: url("../images/v569_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 89px;
  left: 20px;
  overflow: hidden;
}
.v533_351 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 73px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v533_352 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 745px;
  left: 166px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v309_35 {
  width: 295px;
  height: 351px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 282px;
  left: 49px;
  border: 2px solid rgba(0,0,0,1);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v310_73 {
  width: 30px;
  height: 30px;
  background: url("../images/v310_73.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 391px;
  left: 285px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v310_75 {
  width: 30px;
  height: 30px;
  background: url("../images/v310_75.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 460px;
  left: 285px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.v310_77 {
  width: 30px;
  height: 30px;
  background: url("../images/v310_77.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 527px;
  left: 285px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v309_63 {
  width: 177px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 551px;
  left: 105px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v309_57 {
  width: 161px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 484px;
  left: 105px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v309_61 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 460px;
  left: 83px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v309_55 {
  width: 183px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 419px;
  left: 105px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v309_53 {
  width: 120px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 391px;
  left: 83px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v309_51 {
  width: 164px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 324px;
  left: 83px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v309_49 {
  width: 135px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 347px;
  left: 105px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 13px;
  opacity: 1;
  text-align: left;
}
.v309_45 {
  width: 141px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 288px;
  left: 126px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v309_27 {
  width: 324px;
  height: 241px;
  background: url("../images/v309_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 30px;
  overflow: hidden;
}
.v309_21 {
  width: 390px;
  height: 354px;
  background: rgba(72,74,129,1);
  opacity: 1;
  position: absolute;
  top: 180px;
  left: 0px;
  border: 1px solid rgba(27,189,221,1);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v569_123 {
  width: 199px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 136px;
  left: 119px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v569_124 {
  width: 410px;
  height: 130px;
  background: url("../images/v569_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 12px;
  overflow: hidden;
}
.v309_41 {
  width: 77px;
  height: 37px;
  background: url("../images/v309_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 285px;
  overflow: hidden;
}
.v309_59 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 527px;
  left: 83px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v310_72 {
  width: 30px;
  height: 30px;
  background: url("../images/v310_72.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 324px;
  left: 285px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
  overflow: hidden;
}
