* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v208_63 {
  width: 390px;
  height: 844px;
  background: rgba(182,182,182,0.7699999809265137);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v569_41 {
  width: 451px;
  height: 752px;
  background: url("../images/v569_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 32px;
  overflow: hidden;
}
.v208_66 {
  width: 390px;
  height: 344px;
  background: rgba(72,74,129,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  border: 1px solid rgba(27,189,221,1);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v564_5 {
  width: 199px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 136px;
  left: 119px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v564_6 {
  width: 410px;
  height: 130px;
  background: url("../images/v564_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 12px;
  overflow: hidden;
}
.v208_72 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 633px;
  left: 74px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v208_99 {
  width: 154px;
  color: rgba(253,253,253,1);
  position: absolute;
  top: 648px;
  left: 118px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v208_95 {
  width: 55px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 317px;
  left: 74px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Roboto;
  font-weight: Condensed Black;
  font-size: 16px;
  opacity: 1;
  text-align: center;
}
.v208_77 {
  width: 247px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 364px;
  left: 74px;
}
.v208_107 {
  width: 85px;
  color: rgba(145,137,137,1);
  position: absolute;
  top: 376px;
  left: 95px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v208_78 {
  width: 247px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 440px;
  left: 74px;
}
.v208_80 {
  width: 247px;
  height: 41px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 517px;
  left: 74px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v208_110 {
  width: 88px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 455px;
  left: 95px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v208_109 {
  width: 89px;
  color: rgba(153,153,153,1);
  position: absolute;
  top: 534px;
  left: 95px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v214_115 {
  width: 77px;
  height: 37px;
  background: url("../images/v214_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 285px;
  overflow: hidden;
}
.v584_3 {
  width: 8px;
  height: 8px;
  background: url("../images/v584_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 458px;
  left: 300px;
  overflow: hidden;
}
.v584_7 {
  width: 8px;
  height: 8px;
  background: url("../images/v584_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 379px;
  left: 300px;
  overflow: hidden;
}
.v584_5 {
  width: 8px;
  height: 8px;
  background: url("../images/v584_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 536px;
  left: 300px;
  overflow: hidden;
}
