* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v526_35 {
  width: 390px;
  height: 844px;
  background: rgba(182,182,182,0.7699999809265137);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v569_53 {
  width: 451px;
  height: 752px;
  background: url("../images/v569_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 32px;
  overflow: hidden;
}
.v526_37 {
  width: 199px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 184px;
  left: 95px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v526_39 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 78px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v526_40 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 708px;
  left: 142px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v526_41 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 708px;
  left: 142px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v526_42 {
  width: 77px;
  height: 37px;
  background: url("../images/v526_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 285px;
  overflow: hidden;
}
.v526_43 {
  width: 390px;
  height: 354px;
  background: rgba(72,74,129,1);
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  border: 1px solid rgba(27,189,221,1);
  border-bottom-left-radius: 70px;
  border-bottom-right-radius: 70px;
  overflow: hidden;
}
.v569_58 {
  width: 199px;
  color: rgba(236,236,236,1);
  position: absolute;
  top: 136px;
  left: 119px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v569_59 {
  width: 410px;
  height: 130px;
  background: url("../images/v569_59.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40px;
  left: 12px;
  overflow: hidden;
}
.v526_47 {
  width: 238px;
  height: 56px;
  background: rgba(72,74,129,0.8999999761581421);
  opacity: 1;
  position: absolute;
  top: 692px;
  left: 78px;
  border: 1px solid rgba(27,189,221,1);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v526_49 {
  width: 51px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 708px;
  left: 176px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 20px;
  opacity: 1;
  text-align: left;
}
.v526_56 {
  width: 77px;
  height: 37px;
  background: url("../images/v526_56.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 3px;
  left: 285px;
  overflow: hidden;
}
.v526_58 {
  width: 292px;
  height: 31px;
  background: rgba(217,217,217,1);
  opacity: 1;
  position: absolute;
  top: 335px;
  left: 51px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v526_59 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 341px;
  left: 148px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v526_62 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 433px;
  left: 38px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v526_64 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 475px;
  left: 38px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v526_66 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 519px;
  left: 38px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v526_68 {
  width: 114px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 557px;
  left: 38px;
  font-family: Roboto;
  font-weight: Condensed Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
